<!doctype html>
<html>

<head>
    <title>The Pantry-Pal Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <div class="full-body-container">

        <div id="title">
            <h1>PANTRY PAL</h1>
        </div>
        <div id="description">
            <p><em>Welcome to Pantry Pal, where you will discover dream recipes to make from the ingredients in
                    your own homes! With a simple click of a button, discover potential recipes, nutritional
                    information, and reviews.</em></p>
        </div>

        <img class="style" src="{{ url_for('static', filename='images/baguette.png') }}" />

        <div class="input-box" onclick="sendFocus()">
            <img src="{{ url_for('static', filename='images/mag.png') }}" />
            <!-- <input placeholder="Enter your Ingredients for Potential Recipes!" id="filter-text-val"
                onkeyup="filterText()"> -->
            <input placeholder="Enter your Ingredients for Potential Recipes!" id="filter-text-val"
                onkeyup="if (event.keyCode === 13) { search(); } else { filterText(); }">

            <button onclick="search()">Search</button>

        </div>

        <div id="answer-box">

        </div>
        <button id="regenerate-button">Show More Recipes</button>
    </div>

    <script>

        function answerBoxTemplate(title, titleDesc, rating, instructions, reviews, calorie, fat, saturatedfat, sugar, protein, sodium, cholesterol, carbohydrate, fiber) {
            return `<div class='recipe'>
        <h3 class='recipe-title'>${title}</h3>
        <p class='recipe-desc'>Ingredients: ${titleDesc}</p>
        <p class= 'ratings-desc'>Rating: ${rating.toFixed(1)}</p>
        <div class="nutrition-toggle">
            <button onclick="toggleNutritionTable(this)">Show Nutrition Information</button>
      <table class="hide-nutrition"><thead>
    <tr>
      <th>Nutrition</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Calories</td>
      <td>${calorie}</td>
    </tr>
    <tr>
      <td>Fat</td>
      <td>${fat}</td>
    </tr>
    <tr>
      <td>Saturated Fat</td>
      <td>${saturatedfat}</td>
    </tr>
    <tr>
      <td>Sugar</td>
      <td>${sugar}</td>
    </tr>
    <tr>
      <td>Protein</td>
      <td>${protein}</td>
    </tr>
    <tr>
      <td>Sodium</td>
      <td>${sodium}</td>
    </tr>
    <tr>
      <td>Cholesterol</td>
      <td>${cholesterol}</td>
    </tr>
    <tr>
      <td>Carbohydrates</td>
      <td>${carbohydrate}</td>
    </tr>
    <tr>
      <td>Fiber</td>
      <td>${fiber}</td>
    </tr>
    
  </tbody>
</table>
        <button onclick="showInstructions(this)">Show Recipe Instructions</button>
        <div class='recipe-instructions hidden'>${instructions}</div>
        <button onclick="showReviews(this)">Show Recipe Reviews</button>
        <div class='recipe-reviews hidden'>${reviews}</div>
         <button id="like" onclick="likeRecipe(this)"><i class="fa fa-thumbs-up"></i></button>
    <button id="dislike" onclick="dislikeRecipe(this)"><i class="fa fa-thumbs-down"></i></button>
    </div>`
        }

        // function likeRecipe(button) {
        //     const likeBtn = button;
        //     const dislikeBtn = button.nextElementSibling;
        //     // add the btn-selected class to the like button
        //     likeBtn.classList.add("btn-selected");
        //     // remove the btn-selected class from the dislike button (if it exists)
        //     dislikeBtn.classList.remove("btn-selected");
        // }

        // function dislikeRecipe(button) {
        //     const dislikeBtn = button;
        //     const likeBtn = button.previousElementSibling;
        //     // add the btn-selected class to the dislike button
        //     dislikeBtn.classList.add("btn-selected");
        //     // remove the btn-selected class from the like button (if it exists)
        //     likeBtn.classList.remove("btn-selected");
        // }
        function likeRecipe(button) {
            const likeBtn = button;
            const dislikeBtn = button.nextElementSibling;

            if (likeBtn.classList.contains("btn-selected")) {
                likeBtn.classList.remove("btn-selected");
                return;
            }

            likeBtn.classList.add("btn-selected");
            dislikeBtn.classList.remove("btn-selected");
        }

        function dislikeRecipe(button) {
            const dislikeBtn = button;
            const likeBtn = button.previousElementSibling;

            if (dislikeBtn.classList.contains("btn-selected")) {
                dislikeBtn.classList.remove("btn-selected");
                return;
            }

            dislikeBtn.classList.add("btn-selected");
            likeBtn.classList.remove("btn-selected");
        }
        function toggleNutritionTable(button) {
            const nutritionTable = button.nextElementSibling;
            if (nutritionTable.classList.contains('hide-nutrition')) {
                nutritionTable.classList.remove('hide-nutrition');
                nutritionTable.classList.add('show-nutrition');
                button.textContent = 'Hide Nutrition Details';
            } else {
                nutritionTable.classList.remove('show-nutrition');
                nutritionTable.classList.add('hide-nutrition');
                button.textContent = 'Show Nutrition Details';
            }
        }


        function showInstructions(button) {
            const instructions = button.nextElementSibling;
            if (instructions.classList.contains('hidden')) {
                instructions.classList.remove('hidden');
                button.textContent = 'Hide Recipe Instructions';
            } else {
                instructions.classList.add('hidden');
                button.textContent = 'Show Recipe Instructions';
            }
        }

        function showReviews(button) {
            const reviews = button.nextElementSibling;
            if (reviews.classList.contains('hidden')) {
                reviews.classList.remove('hidden');
                button.textContent = 'Hide Recipe Reviews';
            } else {
                reviews.classList.add('hidden');
                button.textContent = 'Show Recipe Reviews';
            }
        }

        function toggleNutrition(dropdown) {
            const nutritionTable = dropdown.nextElementSibling;
            dropdown.classList.toggle("active");
            nutritionTable.classList.toggle("hidden");
        }
        document.getElementById("regenerate-button").addEventListener("click", function () {
            const likedRecipes = document.querySelectorAll(".fa-thumbs-up.btn-selected");
            const dislikedRecipes = document.querySelectorAll(".fa-thumbs-down.btn-selected");
            const likedTitles = Array.from(likedRecipes).map(recipe => recipe.closest(".recipe").querySelector(".recipe-title").textContent);
            const dislikedTitles = Array.from(dislikedRecipes).map(recipe => recipe.closest(".recipe").querySelector(".recipe-title").textContent);

            // make API call with the liked and disliked titles to get new recipes
            fetch("/episodes?" + new URLSearchParams({ likedTitles: likedTitles.join(","), dislikedTitles: dislikedTitles.join(",") }).toString())
                .then((response) => response.json())
                .then((data) => {
                    // clear existing recipes
                    document.getElementById("answer-box").innerHTML = "";

                    // add new recipes
                    data.forEach(row => {
                        let tempDiv = document.createElement("div");
                        tempDiv.innerHTML = answerBoxTemplate(row.Name, row.RecipeIngredientParts, row.AvgRecipeRating, row.RecipeInstructions, row.Review, row.Calories, row.FatContent, row.SaturatedFatContent, row.SugarContent, row.ProteinContent, row.SodiumContent, row.CholesterolContent, row.CarbohydrateContent, row.FiberContent);
                        document.getElementById("answer-box").appendChild(tempDiv);
                    });
                });
        });

        function sendFocus() {
            document.getElementById('filter-text-val').focus()
        }

        function search() {
            const filterText = document.getElementById("filter-text-val").value;
            if (!filterText) {
                alert("Please enter ingredients to search for recipes!");
                return;
            }
            const searchValue = document.getElementById("filter-text-val").value;
            document.getElementById("answer-box").innerHTML = "";
            fetch("/episodes?" + new URLSearchParams({ title: searchValue }).toString())
                .then((response) => response.json())
                .then((data) => data.forEach(row => {
                    let tempDiv = document.createElement("div");
                    tempDiv.innerHTML = answerBoxTemplate(row.Name, row.RecipeIngredientParts, row.AvgRecipeRating, row.RecipeInstructions, row.Review, row.Calories, row.FatContent, row.SaturatedFatContent, row.SugarContent, row.ProteinContent, row.SodiumContent, row.CholesterolContent, row.CarbohydrateContent, row.FiberContent);
                    document.getElementById("answer-box").appendChild(tempDiv);
                }));
        }



    </script>


</body>

</html>