<!doctype html>
<html>

<head>
    <title>The Pantry-Pal Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



</head>

<body>
    <div class="full-body-container">

        <div id="title">
            <h1>Pantry-Pal!</h1>

        </div>
        <div id="description">

            <p><strong><em>Welcome to Pantry Pal, where you will discover dream recipies to make from the ingredients in
                        your own homes! With a simple click of a button, discover potential recipies, nutritional
                        information, and reviews.</em></strong></p>
        </div>

        <img class="style" src="{{ url_for('static', filename='images/undraw_diet_ghvw.svg') }}" />

        <div class="input-box" onclick="sendFocus()">
            <img src="{{ url_for('static', filename='images/mag.png') }}" />
            <!-- <input placeholder="Enter your Ingredients for Potential Recipes!" id="filter-text-val"
                onkeyup="filterText()"> -->
            <input placeholder="Enter your Ingredients for Potential Recipes!" id="filter-text-val"
                onkeyup="if (event.keyCode === 13) { search(); } else { filterText(); }">

            <button onclick="search()">Search</button>

        </div>

        <div id="answer-box">

        </div>
        <button id="regenerate-button">Show More Recipes</button>
    </div>

    <script>

        function answerBoxTemplate(title, titleDesc, rating) {
            return `<div class=''>
      <h3 class='recipe-title'>${title}</h3>
      <p class='recipe-desc'>${titleDesc}</p>
      <p class= 'ratings-desc'>Rating: ${rating.toFixed(1)}</p>


      <button id="like-${title}" onclick="toggleThumbs(this)"><i class="fa fa-thumbs-up"></i></button>
      <button id="dislike-${title}" onclick="toggleThumbs(this)"><i class="fa fa-thumbs-down"></i></button>
  </div>`
        }

        function toggleThumbs(button) {
            const title = button.id.replace('like-', '').replace('dislike-', '');
            if (button.classList.contains('thumbs-up')) {
                // user is un-liking the recipe
                button.classList.remove('thumbs-up');
                button.classList.remove('btn-selected');
            } else {
                // user is liking the recipe
                button.classList.add('thumbs-up');
                button.classList.add('btn-selected');
                // remove any dislike from this recipe
                const dislikeButton = document.getElementById(`dislike-${title}`);
                dislikeButton.classList.remove('btn-selected');
                dislikeButton.classList.remove('thumbs-down');
            }
        }

        document.addEventListener('click', function (event) {
            if (event.target.classList.contains('fa-thumbs-up')) {
                const button = event.target.parentElement;
                toggleThumbs(button);
                const title = button.id.replace('like-', '');
                button.classList.toggle('thumbs-up');
                button.classList.toggle('btn-selected');
                const dislikeButton = document.getElementById(`dislike-${title}`);
                dislikeButton.classList.remove('btn-selected');
                dislikeButton.classList.remove('thumbs-down');
            } else if (event.target.classList.contains('fa-thumbs-down')) {
                const button = event.target.parentElement;
                const title = button.id.replace('dislike-', '');
                button.classList.toggle('thumbs-down');
                button.classList.toggle('btn-selected');
                const likeButton = document.getElementById(`like-${title}`);
                likeButton.classList.remove('btn-selected');
                likeButton.classList.remove('thumbs-up');
                toggleThumbs(button);
            }
        });

        document.getElementById("regenerate-button").addEventListener("click", function () {
            const likedRecipes = document.querySelectorAll(".thumbs-up");
            const dislikedRecipes = document.querySelectorAll(".thumbs-down");
            const likedTitles = Array.from(likedRecipes).map(recipe => recipe.closest(".recipe").querySelector(".recipe-title").textContent);
            const dislikedTitles = Array.from(dislikedRecipes).map(recipe => recipe.closest(".recipe").querySelector(".recipe-title").textContent);

            // make API call with the liked and disliked titles to get new recipes
            fetch("/episodes?" + new URLSearchParams({ likedTitles: likedTitles.join(","), dislikedTitles: dislikedTitles.join(",") }).toString())
                .then((response) => response.json())
                .then((data) => {
                    // clear existing recipes
                    document.getElementById("answer-box").innerHTML = "";

                    // add new recipes
                    data.forEach(row => {
                        let tempDiv = document.createElement("div");
                        tempDiv.innerHTML = answerBoxTemplate(row.Name, row.RecipeIngredientParts, row.AvgRecipeRating);
                        document.getElementById("answer-box").appendChild(tempDiv);
                    });
                });
        });

        function sendFocus() {
            document.getElementById('filter-text-val').focus()
        }

        // function filterText() {
        //     document.getElementById("answer-box").innerHTML = ""
        //     console.log(document.getElementById("filter-text-val").value)
        //     fetch("/episodes?" + new URLSearchParams({ title: document.getElementById("filter-text-val").value }).toString())
        //         .then((response) => response.json())
        //         .then((data) => data.forEach(row => {

        //             let tempDiv = document.createElement("div")
        //             tempDiv.innerHTML = answerBoxTemplate(row.Name, row.RecipeIngredientParts, row.AvgRecipeRating)
        //             document.getElementById("answer-box").appendChild(tempDiv)
        //         }));

        // }

        function search() {
            const searchValue = document.getElementById("filter-text-val").value;
            document.getElementById("answer-box").innerHTML = "";
            fetch("/episodes?" + new URLSearchParams({ title: searchValue }).toString())
                .then((response) => response.json())
                .then((data) => data.forEach(row => {
                    let tempDiv = document.createElement("div");
                    tempDiv.innerHTML = answerBoxTemplate(row.Name, row.RecipeIngredientParts, row.AvgRecipeRating);
                    document.getElementById("answer-box").appendChild(tempDiv);
                }));
        }



    </script>
</body>

</html>